# Skip problematic native dependencies during install
ignore-scripts=false
# Make canvas installation more resilient
canvas_binary_host_mirror=https://github.com/Automattic/node-canvas/releases/download/
# Skip canvas prebuild if it fails
CANVAS_PREBUILT=1